{% extends "page.html" %} 
{# set new nav items #}
{% set MENUITEMS = (
    ('ABOUT', '/about'),
    ('FEED', '/feed'),
    ('BLOG', '/blog'),
    ('WIKI', '/wiki')
) %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/article.css">
{% endblock %}

{% block main %}
<p>This is the site of Sam Griesemer. I'm an undergraduate at <a href='https://wustl.edu'><i>Washington University</i></a> pursuing a B.S in computer science with a second major in mathematics. You can reach me at <b>samgriesemer at gmail dot com</b>. You can also find some of my code on <a href='https://github.com/samgriesemer'>Github</a> or contact me on <a href='https://twitter.com/samgriesemer'>Twitter</a>.</p>
  
<div class='row'>
    <div>
        <h1><a href='blog' class='nostyle'>Blog</a></h1><hr class='solid'>
        <ol id="post-list">
            {% set count = namespace(value=0) %}
            {% for article in articles %}
                {% if article.type %}
                    {% if article.type == 'blog' %}
                        {% if count.value < 6 %}
                        <li><article>
                            <header><span>
                                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
                                {% if article.summary %}
                                    <span><i class='grey'>- {{ article.summary|striptags }}</i></span>
                                {% endif %}
                            </span></header>
                        </article></li>
                        {% endif %}
                        {% set count.value = count.value + 1 %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ol>
    </div>
    <div>
        <h1><a href='wiki' class='nostyle'>Wiki</a></h1><hr class='solid'>
        <ol id="post-list">
            {% set count = namespace(value=0) %}
            {% for article in articles %}
                {% if article.type %}
                    {% if article.type == 'wiki' %}
                        {% if count.value < 6 %}
                        <li><article>
                            <header><span>
                                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
                                {% if article.summary %}
                                    <span><i class='grey'>- {{ article.summary|striptags }}</i></span>
                                {% endif %}
                            </span></header>
                        </article></li>
                        {% endif %}
                        {% set count.value = count.value + 1 %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ol>
    </div>
</div>
<div class='row'>
    <div>
        <h1><a href='feed' class='nostyle'>Feed</a></h1><hr class='solid'>
        <ol id="post-list">
            {% set count = namespace(value=0) %}
            {% for article in articles %}
                {% if article.type %}
                    {% if article.type == 'feed' %}
                        {% if count.value < 6 %}
                        <li><article>
                            <header><span>
                                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
                                {% if article.summary %}
                                    <span><i class='grey'>- {{ article.summary|striptags }}</i></span>
                                {% endif %}
                            </span></header>
                        </article></li>
                        {% endif %}
                        {% set count.value = count.value + 1 %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ol>
    </div>
</div>
<div class='row'>
    <div>
        <h1>Projects</h1>
        <hr class='solid'>
        <ul>
            <li>problib</li>
            <li>probapp</li>
            <li>vim roam</li>
            <li>templates</li>
            <li>site framework</li>
            <li>various web</li>
        </ul>
    </div>
    <div>
        <h1>Research</h1>
        <hr class='solid'>
        <ul>
            <li>Implementing image patching</li>
            <li>Braess paradox</li>
            <li>Reddit</li>
            <li>AVME</li>
        </ul>
    </div>
</div>

<!-- <h3>Education</h3>
Washington University
- Double major in Computer Science and Mathematics (Probability/Statistics)
- GPA: 3.95/4.00
- Selected coursework: Machine Learning, Computer Vision, Bayesian Machine Learning, Probability, Analysis of Algorithms, Analysis of Network Data
<h3>Experience</h3>
  - Powershades
  - AMCE
  - US Bancorp
<h3>Research</h3>
  - Papers
  - Undergrad researcher
    - HCI Lab
    - Reinforcement learning
    - Indepedent: deep generative models
<h3>Teaching</h3>
  - Assistant for 247,330,417,416,517
<h3>Writing</h3>
  - Intro to basic prob
  - What is PixelRNN?
<h3>Awards</h3>
  - ISEF Finalist
  - Best CS Paper Intel
  - Hackathon winner
  - Deans List (all semesters) -->
{% endblock -%}
