{% extends "page.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/article.css">
{% endblock %}

{% block main %}
    <h1>All articles</h1>

    <!-- single container element -> tag on same line -->
    <ol id="post-list">
        {% for article in articles_page.object_list %}
        {% if article.system %}
               {% if article.system == 'blog' %}
                    <li><article>
                        <header>
                            <h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
                        </header>
                        <p> {{ article.summary }} </p>
                        <footer>
                            <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
                        </footer>
                    </article></li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ol>

    {% if articles_page.has_other_pages() %}
        {% include 'pagination.html' %}
    {% endif %}
{% endblock main %}
