body {
    margin: auto;
    max-width: 52rem;
    overflow-x: hidden;
    padding: 0 1em;
}

/************/
/* HEADINGS */
/************/
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
    margin: 0.5em 0 0;
}

/* title-like H1 elements */
header h1 {
    font-size: 2.5em;
    margin: 0.3em 0;
}

/*******/
/* TOC */
/*******/
.toc {
    border: 4px double;
    display: inline-block;
    padding: 1em;
    background: var(--grey-bg);
    margin: 0em 2em 2em 0;
    float: left;
    max-width: 25%;
}

.toc ul {
    list-style-type: decimal;
    margin: 0;
}

.toc > ul {
    list-style-position: inside;
    padding: 0;
}

.toc li {
    margin-top: 0 !important;
}

/************/
/* ABSTRACT */
/************/
#abstract {
    border: 4px double;
    background-color: var(--grey-bg);
    padding: 1em;
    display: flex;
    margin-bottom: 1.5em;
}

#abstract > p {
    margin: 0;
}

/************/
/* METADATA */
/************/
#metadata {
    margin-bottom: 1.5em;
}

.category > a, .tags > a {
    border-radius: 2px;
    padding: 0 0.2em;
    /*background-color: #0000ff66;*/
}

/**********/
/* IMAGES */
/**********/
#content img {
    display: block;
    margin: 1.5em auto;
}


/*********/
/* KATEX */
/*********/
.katex {
    font-size: 1.07em;
} 

.katex-display > .katex {
    white-space: normal !important;
}


/*********/
/* LISTS */
/*********/
li {
    margin-top: 0.25em;
}

:not(li) > ul > li:first-of-type, 
:not(li) > ol > li:first-of-type {
    margin-top: 0 !important;
}

/* fix bad firefox last list items */
/*@-moz-document url-prefix() {*/
    
