/***********/
/* GENERAL */
/***********/
:root {
    --grey-bg: #f5f5f5;
    --grey-border: #cccccc;
}

html {
    background-color: white;
}

body {
    margin: 0;
    padding: 0;
    font-size: 0.92rem;
    font-family: 'SSP', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* selection highlight color */
::selection {
    background: #fffc01; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #fffc01; /* Gecko Browsers */
}

/* overwrite browser section > h1 small */
section h1 {
    font-size: 2em;
}

/* global modifiers */
.hl {
    color: #003CFF;
}

.grey {
    color: #333;
}

.lt {
    opacity: 0.5;
}

.line {
    border-top: 1px solid;
    padding: 1em 0;
}

.big {
    font-size: 3em;
}

.title {
    font-size: 5em;
}

/*************/
/* DARK MODE */
/*************/
@media (prefers-color-scheme: dark) { 
    :root {
        --grey-bg: #eeeeee;
    }

    html {
        filter: invert(1);
        background: black;
    }

    body::before {
        content: '';
        width: 100vw;
        height: 100%;
        background-color: white;
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;
    }

    /*code, pre {
        background: var(--grey-bg) !important;
    }*/
        
}

/*********/
/* LISTS */
/*********/
ul, ol {
    margin: 1em 0;
    padding-left: 1.8em;
    padding-right: 1px; /* allows for table outline */
    overflow: hidden;
}

ul ul,
ul ol,
ol ul,
ol ol {
    margin: 0;
}

/**********/
/* TABLES */
/**********/
table {
    border-collapse: collapse;
    border: solid black;
    border-width: 2px 0;
    font-size: 0.65em;
    font-variant-numeric: tabular-nums;
    width: 100%;
}

table tr {

}

table tr:hover {
    outline: 1px dotted black;
}

table th, table td {
    padding: 0.6em 0.8em;
    line-height: 1.5em;
}

table th {
    border-bottom: 1px solid black;
}

table td {

}

/* Display table */
.dtable {
    font-size: 1em;
    border: 0;
}

.dtable #head {
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 1em;
}

.dtable .row {
    /* set left index width*/
    grid-template-columns: 0.2fr;

    /* evenly split remaining space in implicit grid */
    grid-auto-columns: 1fr;
}

/* may change if dtables arent always links */
.dtable a:any-link {
    text-decoration: none;
}

/*********/
/* LINKS */
/*********/
a:any-link {
    color: #000;
    text-decoration: underline;
}

a:any-link:hover {
    color: #333;
}

a.nostyle {
    text-decoration: none;
}

/***********/
/* SLIDERS */
/***********/
input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    vertical-align: middle;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 1px;
    background: #000;
    border: 0px solid #000;
}

input[type=range]::-moz-range-track {
    height: 1px;
    background: #000;
    border: 0px solid #000;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000;
    border: 0px solid #000;
    height: 9px;
    width: 9px;
    /*border-radius: 25px;*/
    background: #000;
    -webkit-appearance: none;
    margin-top: -4px;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000;
    border: 0px solid #000;
    height: 9px;
    width: 9px;
    border-radius: 0px;
    background: #000;
    -moz-appearance: none;
    margin-top: -4px;
}

/*******************/
/* HORIZONTAL RULE */
/*******************/
hr {
    position: relative;
    display: block;
    margin: 0;
    margin-bottom: 0.3em;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,1.0);
}

hr.dotted {
    border-top: 1px dotted rgba(0,0,0,1.0);
}

/***********/
/* BUTTONS */
/***********/
button {
    border-radius: 2px;
    color: #000;
    font-size: 10px;
    background: #fff;
    padding: 3px 6px;
    border: solid #000 1px;
    text-decoration: none;
    transition: 0.5s;
    box-shadow: 0;
    text-shadow: 0;
    background-image: none;
}

button:hover {
    background: #000;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}

/**********/
/* SELECT */
/**********/
select {
    background-color: white;
    border: 1px solid black;

    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"><path d="M4 8L0 4h8z"/></svg>');
    border-radius: 2px;
    padding: 0.1em 1.5em 0.36em 0.5em;
}

/*********/
/* INPUT */
/*********/
input[type=text], textarea {
    border-radius: 2px;
    padding: 0.2em 0.4em;
    border: 1px solid black;
}

/********/
/* CODE */
/********/
code {
    /*font-family: 'SCP';
    padding: 0 5px 2px;*/
    font-family: Akkurat-mono;
    padding: 0 4px;
    font-size: 0.8em;
    background: var(--grey-bg);
    border: 1px solid var(--grey-border);
    border-radius: 1px;
}

pre {
    overflow-x: auto;
    margin: 1.5em 0;
    line-height: 1.5em;
    padding: 1em;
    max-width: 100%;
    background: var(--grey-bg);
    border: 1px solid var(--grey-border);
    border-radius: 1px;
}

pre code {
    background: transparent;
    border: 0px;
}

/*******/
/* IMG */
/*******/
img {
    width: 100%;
    height: 100%;
}
