{% extends "page.html" -%}

{% block main %}
    <h1>Halton Sequence Generator</h1>
    <p>a simple visualization for observing halton sequence patterns</p>

    <section class='row'>
        <svg></svg>
        <section>
            <h2>Options</h2>
            <label>Sequence length: <span id='length-value'>10</span></label><br>
            <input type="range" min=0 max=2000 id='slider' value=10 style='width:20em;'></input>
            <br><br>
            <label>First base: <span id='p0-value'>2</span></label><br>
            <input type="range" min=2 max=100 id='p0-slider' value=2 style='width:20em;'></input>
            <br><br>
            <label>Second base: <span id='p1-value'>3</span></label><br>
            <input type="range" min=2 max=100 id='p1-slider' value=3 style='width:20em;'></input>
        </section>
     </section>
{% endblock -%}

{% block scripts %}
    <script src="/static/js/d3.v5.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="/projects/halton/js/halton.js"></script>
{% endblock %}
