{% extends "page.html" %}  

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/projects/mcttt/css/page.css"></link>
{% endblock %}

{% block main %}
    <h1>Monte Carlo Tic-Tac-Toe</h1>
    <svg></svg>
    <div id='note'></div>
    <button onclick="update()">Simulate</button>
{% endblock %}

{% block scripts %}
    <script src='/static/js/d3.v5.min.js'></script>
    <script src='/projects/mcttt/js/board.js'></script>
    <script src='/projects/mcttt/js/update.js'></script>
{% endblock %}
